@import url(home.css);
@import url(surat.css);
@import url(edit.css);
@import url(draf&sampah.css);

/* lakukan hal sama jika ingin menambah css */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.mainContainer {
    display: flex;
    flex-direction: row;
}

/* bagian atas jangan dirubah */

.navigasi {
    width: 15%;
    height: 100vh;
    background-color: aqua;
}
#contentContainer {
    background-color: blueviolet;
    width: 85%;
    height: 100vh;
}